# Binaries
gdrive-bisync

# Build output
/dist

# Logs
logs/

# Config files
/config/token.json
/config/credentials.json
/config/config.json
/config/.gdrive-bisync-state.json

# Allow example config
!/config/config.example.json

# OS specific
.DS_Store